    body {
      font-family: 'Segoe UI', sans-serif;
      background: #0f0f0f;
      color: white;
    }
    header {
      background: rgba(0, 0, 0, 0.8);
      padding: 20px 40px;
      position: fixed;
      width: 100%;
      z-index: 100;
    }
    header h1 {
      color: gold;
      font-size: 24px;
    }
    nav a {
      text-decoration: none;
    }
    .hero {
      height: 100vh;
      
       background-image: url('img/ht.jpg');
  background-size: cover;
  background-position: center;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      text-align: center;
    }
    .hero h2 {
      font-size: 48px;
      text-shadow: 0 0 10px black;
    }
    .hero p {
      font-size: 20px;
      margin-top: 10px;
      color: #ccc;
    }
    .hero .btn {
      margin-top: 20px;
      background: gold;
      color: black;
      padding: 12px 30px;
      font-weight: bold;
      border-radius: 6px;
    }
    h3 {
      text-align: center;
      font-size: 32px;
      margin-bottom: 40px;
      color: gold;
    }
    .card-tour img {
      height: 200px;
      object-fit: cover;
    }
    .footer {
      background: #111;
      padding: 30px;
      text-align: center;
      color: #666;
    }
    .footer a {
      color: gold;
      margin: 0 10px;
      text-decoration: none;
    }
    a{
        font-style: none;
    }
#tour option{
background-color: #0f0f0f;
}